* {
  font-family: 'Poppins', sans-serif;
}
footer {
  text-align: center;
  font-size: 0.5rem;
  color: #444;
  padding: 0px;
  margin-top: 10px;
  background: transparent; /* or #f8f9fa if you want a background */
  font-weight: 700;
}

/* If you want footer fixed at the bottom */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(6px);
  padding: 0px;
  box-shadow: 0 -2px 8px rgba(0,0,0,0.1);
}
